

.espaco{
    box-shadow: 3px 2px 39px  rgba(136,160,255,0.21) ;

    padding: 20px 10px;
    transition: all 300ms ease-in;
}

.espaco:hover{
   transform: scale(1.1);
}

.espaco .icones,.espaco .textoItens{
    margin-bottom: 20px;

}
.espaco .icones{
    margin-right: 5px;
    color: rgba(0, 0, 255, 0.774);
    background-color: #dddddd77;
    padding:8px 8px 6px 8px;
    border-radius: .2em;
}

.botaoBtn{
    transition: all 300ms ease-in;
}
.espaco .botaoBtn:hover{
    transform: scale(.9);
    box-shadow:0 72px 49px -51px rgba(136,160,255,0.21) ;
 }
 

 .herderContactos span{
    color: #ffa600e7;
 } 

 .herderContactos h6{
    font-size: 1.7em;
    font-weight: 600;
 }

 .minhaImg{
    border: 8px solid rgba(136,160,255,0.21) ;
    border-radius: 5em !important;
}

@media (min-width:992px){
    
 .minhaImg{
   margin-top: 100px;
}
}