
.listaMenu{
    list-style: none;
    left: -32px;
    position: relative;
}

.listaMenu li{
    display: inline-block;
    margin-right: 10px;
}

.ladoDireito h6{
    font-weight: 700;
    font-size: 1.5em;
    color: rgba(0, 0, 255, 0.747);
    margin-top: 20px;
}

.ladoDireito span,.melhp{
    font-size: .9em;
    color: #808080;
}
.listaMenu li a{
    font-weight: 500;
    color: #000000c5;
}

