.primeiroSpan{
    font-size: 1.8em;
    font-weight: 700;
    color: #fff;
}

.minhaLinha{
    background-color: rgba(0, 0, 255, 0.815);
    padding: 2rem;
    border-radius: 10px;
    border: 8px solid #4161df;
    gap: 1.5rem;
    display: flex;
    text-align: center;
}

.segundoSpan{
    color: #ddddddd2;
   
}

.newBtn{
    margin-top: 30px;
    width:60% !important;
    background-color: transparent ;
    border: 2px solid #fff;
    
    
    transition: all 300ms ease-in;
}

.newBtn a{
    color: #fff;
}
.newBtn:hover{
   
    border: 2px solid #4161df !important;
    background-color: #fff !important;
    color: #4161df; 
    transform:scale(1.1) !important;
}
.newBtn:hover >a{
    color: #4161df !important; 
}